/*Mobile*/
@media (max-width: 720px) {
  .Navigation{
    display: none;
    visibility: hidden;
  }
  /*Mobile Nav Content*/
  .MobileTopBar{
    display: flex;
    background: #FFFEFF;
    align-items: center;
    width: 100%;
    height: 60px;
    position: fixed;
    top: 0;
    left: 0;
    border-bottom: white 1px ridge;
  }
  /*Open Menu Bar*/
  .MobileTopBar .menubtn{
    position: absolute;
    right: 5%;
    padding: 8px;
    cursor: pointer;
    font-size: 1.5rem; 
  }
  /*Close Menu Bar*/
  .MobileTopBar .closebtn{
    position: absolute;
    right: 5%;
    padding: 8px;
    cursor: pointer;
    font-size: 1.5rem;
  }
  /*Hover Open Menu Bar*/
  .MobileTopBar .fa-bars:hover{
    color: blueviolet;
    background: white;
  }
  /*Links*/
  .MobileTopBar span i{
    color: rgb(255, 254, 254);
    font-size: 1rem;
    padding: 10px;
  }
  .MobileTopBar span h4{
    color: rgb(0, 0, 0);
    font-size:1rem
  }
  /*Links Content*/
  .MobileTopBar .linksContainer {
    display: flex;
    flex-direction: column;
    top: 60px;
    position: absolute;
    left: 0;
    padding: 8px;
    background: #181818;
    width: 100%;
  }
}
/*Computer screen*/
.Navigation{
  width: 60%;
  height: 80px;
  top: 0;
  position: fixed;
  right: 0;
  float: right;
  margin-top: 30px;
  color: #433481;
}
/*Break none*/
.Navigation .linksContainer br{
  display: none;
}
/*Icons by default*/
.Navigation span i{
  display: inline-block;
  margin: 1.1vw;
  font-size: 1rem;
}
.Navigation div {
 display: inline-block;
 margin-left: 70px;
 
}
.Navigation .linksContainer button:hover{
  background: #FFFDFF;
  border-radius: 50%;
  border: 0.5px ridge black;
 
}
.Navigation .linksContainer button{
  border: none;
  background: none;
}
.Navigation input[type=search]{
  margin: -50px;
  padding: 18px;
  margin-left: 10px;
}
.Navigation input{
  border-radius: 25px;
  height: 30px;
  width: 250px;
}

.Navigation{
  width: 60%;
  height: 70px;
  top: 0;
  position: fixed;
  right: 0;
  float: right;
  margin-top: 10px;
}
/*Break none*/
.Navigation .linksContainer br{
  display: none;
}
/*Icons by default*/
.Navigation span i{
  display: inline-block;
  margin: 1.1vw;
  color: #433481;
  font-size: 1rem;
}
.Navigation div {
 display: inline-block;
 margin-left: 20px;
 
}
.Navigation .linksContainer button:hover{
  background: #FFFDFF;
  border-radius: 50%;
  border: 0.5px ridge black;
 
}
.Navigation .linksContainer button{
  border: none;
  background: none;
}
.Navigation input[type=search]{
  margin: -50px;
  padding: 18px;
  margin-left: 10px;
}
.Navigation input{
  border-radius: 25px;
  height: 30px;
  width: 180px;
}
@media only screen and (min-width: 1200px) {

  .Navigation{
    width: 60%;
    height: 80px;
    top: 0;
    position: fixed;
    right: 0;
    float: right;
    margin-top: 30px;
    color: #433481;
  }
  /*Break none*/
  .Navigation .linksContainer br{
    display: none;
  }
  /*Icons by default*/
  .Navigation span i{
    display: inline-block;
    margin: 1.1vw;
    font-size: 2rem;
  }
  .Navigation div {
   display: inline-block;
   margin-left: 70px;
   
  }
  .Navigation .linksContainer button:hover{
    background: #FFFDFF;
    border-radius: 50%;
    border: 0.5px ridge black;
   
  }
  .Navigation .linksContainer button{
    border: none;
    background: none;
  }
  .Navigation input[type=search]{
    margin: -50px;
    padding: 18px;
    margin-left: 10px;
  }
  .Navigation input{
    border-radius: 25px;
    height: 30px;
    width: 280px;
  }
  
  .Navigation{
    width: 60%;
    height: 70px;
    top: 0;
    position: fixed;
    right: 0;
    float: right;
    margin-top: 10px;
  }
  /*Break none*/
  .Navigation .linksContainer br{
    display: none;
  }
  /*Icons by default*/
  .Navigation span i{
    display: inline-block;
    margin: 1.1vw;
    color: #433481;
    font-size: 1rem;
  }
  .Navigation div {
   display: inline-block;
   margin-left: 20px;
   
  }
  .Navigation .linksContainer button:hover{
    background: #FFFDFF;
    border-radius: 50%;
    border: 0.5px ridge black;
   
  }
  .Navigation .linksContainer button{
    border: none;
    background: none;
  }
  .Navigation input[type=search]{
    margin: -50px;
    padding: 18px;
    margin-left: 10px;
  }
  .Navigation input{
    border-radius: 25px;
    height: 30px;
    width: 300px;
  }
}
