body{

  margin: 0;
  height: auto;
  background: #F6F5F3;
  width: 100%;
  color: black;  
  overflow-y: hidden;
    
   }
   body{
       min-height: 100%;
   }
   .page{
       height: 100%;
       min-height: 100%;
       margin: auto;
   }
   .leftContent{
     width: 40%;
     background: #E5F8FF;
     height: 800px;
     max-height: 100%;
     border-radius: 15px;   
     margin-left: 10px;
   }
  * {
    box-sizing: border-box;
  }
   @media screen and (min-width: 720px) {
     body {
       
     }
     nav.MobileTopBar{
       display: none;
     }
   }
  